body{
    padding: 0px;
    margin: 0px;
    font-size: 1.2rem;
}

.page{
    display: flex;
    justify-content: center;
}

.logo{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-pic{
    height: 5rem;
    padding: 1rem;
}

.photo{
    flex-grow: 1;
    height: 100vh;
    background-image: url(https://images.unsplash.com/photo-1585202900225-6d3ac20a6962?auto=format&fit=crop&q=80&w=1287&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: auto;
    width: 40vw;
}


.content{
    display: flex;
    width: 60rw;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    flex-grow: 2;
}

.header{
    padding: 0 2vw;
}

.form-content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: wheat;
    padding: 1.2rem;
    box-shadow: 0px 5px 5px black;
}


form{
    display: flex;
    width: 60vw;
    flex-flow: row wrap;
    gap: 1rem;
    margin: 20px;
}

/*

.content{
    display: flex;
}

.form-content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1.5rem;
    background-color: green;
}

#btn-sign-up{
    width: fit-content;
    position: relative;
    font-size: 1.5rem;
    background-color: gray;
    border-radius: 10px;
    border: none;
    padding: 1rem 1.5rem;

}

.sign-up-info{
    margin-top: 2rem;
    padding: 0px 2vw;
} */