body{
    padding: 0px;
    margin: 0px;
    font-size: 1.2rem;
    background-color: aliceblue;
}

.page{
    display: flex;
    justify-content: center;
}

.logo{
    width: 100%;
    display: flex;
    position: relative;
    bottom: 200px;
}

.logo-pic{
    height: 8rem;
    padding: 1rem;
}

.photo{
    flex-grow: 1;
    position: relative;
    width: 40vw;
    min-width: 300px;
    height: 100vh;
    background-image: url("img/eclipse-compressed.JPEG");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

}

.photo div{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.397);
    padding: 0px 2vw;
    min-width: 300px;
    display: flex;
}


.content{
    display: flex;
    width: 60rw;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    flex-grow: 2;
}

.header, .call-to-action{
    padding: 0 2vw;
}

.call-to-action{
    font-size: 2rem;
}

.form-content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    padding: 1.2rem;
    box-shadow: 0px 5px 5px rgb(231, 231, 231);
}


form{
    display: flex;
    width: 60vw;
    flex-flow: row wrap;
    gap: 1rem;
    font-size: 1rem;
}

.contact{
    position: relative;
    width: 15rem;
}

#btn-sign-up{
    width: fit-content;
    position: relative;
    font-size: 1.5rem;
    background-color: #455d70;
    color: aliceblue;
    border-radius: 10px;
    border: none;
    padding: 1rem 1.5rem;

}
.sign-up-info{
    margin-top: 2rem;
    padding: 0px 2vw;
}

input:invalid{
    border: 2px solid red;
} 


input:optional{
    border: 1px solid silver;
}


/*

.content{
    display: flex;
}

.form-content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1.5rem;
    background-color: green;
} */